@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700;900&family=Lato:wght@400;700&family=Montserrat&display=swap"); /* get more font sizes */
/* Default */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "inter", sans-serif;
}

body {
  padding: 32px;
  overflow-x: hidden;
}

.wrapper {
  width: 100vw;
  overflow-x: hidden;
}

a,
button {
  text-decoration: none;
  cursor: pointer;
  transition: all 300ms ease;
}

html {
  scroll-behavior: smooth;
}

p {
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

/* img{
  width: 100%;
} */

.purple {
  color: #6415ff;
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.gradient__background {
  background: linear-gradient(135deg, #4c51bf 0%, #667eea 100%);
  color: white;
}

/* 

NAVIGATION

*/

.nav__container {
  display: flex;
  max-height: 48px;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.nav__logo--img {
  width: 40px;
  height: 40px;
  margin-right: 12px;
}

.nav__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__logo--name {
  font-size: 24px;
  font-weight: 900;
  color: #243e63;
}

.nav__logo--name {
  font-size: 24px;
  font-weight: 900;
  color: #243e63;
}

.nav__logo--name:hover {
  color: #6415ff;
}

.nav__link {
  color: #243e63;
  font-size: 14px;
  font-weight: 600;
  margin: 0 24px;
  padding-bottom: 4px;
  transition: all 300ms ease;
}

.nav__link:hover {
  color: #6415ff;
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-thickness: 2px;
  transition: all 300ms ease;
}

.nav__link--header1 {
  margin: 0 24px 0 48px;
}

.nav__link--header2 {
  border: 1px solid #6415ff;
  padding: 12px 32px;
  border-radius: 9999px;
  color: white;
  background-color: #6415ff;
}

.nav__link--header2:hover {
  color: rgb(237 242 247);
  background-color: rgb(80 17 204);
  text-decoration: none;
}

/* 

Landing Section

 */

.landing__container {
  padding: 96px 0;
  display: flex;
  margin: 0 auto;
}

.landing__container--left {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.landing__container--right {
  width: 60%;
}

.landing__container--img {
  width: 100%;
}

.landing__title {
  font-size: 48px;
}

.landing__para {
  font-size: 18px;
  color: #243e63;
  margin: 32px 0;
  width: 100%;
}

.landing__email {
  position: relative;
  display: inline-block;
  padding-right: 64px;
}

.landing__email--input {
  border: 2px solid rgba(128, 128, 128, 0.483);
  border-radius: 9999px;
  font-size: 16px;
  color: rgba(211, 211, 211, 0.377);
  padding: 20px 192px 20px 32px;
  width: 100%;
  opacity: 0.5;
  transition: all 300ms ease;
}

input[type="email"]:focus {
  color: #243e63;
  opacity: 0.9;
  border-color: #6415ff;
  font-weight: 500;
  outline: none;
}

.landing__email--input:hover {
  border-color: #243e63;
}

.landing__email--btn {
  position: absolute;
  background-color: #6415ff;
  color: white;
  padding: 16px 0;
  width: 10rem;
  margin: 8px 8px 8px 0;
  font-size: 16px;
  line-height: 1;
  font-weight: 700;
  border-radius: 9999px;
  border: none;
  top: 0px;
  right: 64px;
  transition: all 300ms ease;
}

.landing__email--btn:hover {
  color: rgb(237 242 247);
  background-color: rgb(80 17 204);
  font-size: 16.5px;
}

.landing__customers--container {
  margin-top: 80px;
}

.landing__customers {
  font-size: 12px;
  color: #a0aec0;
  font-weight: 700;
}

.landing__customers--img {
  margin: 16px 0 0 0;
  padding: 0 128px 0 0;
  width: 100%;
  opacity: 0.5;
}

/*

Menu 

*/

.btn__menu {
  background-color: transparent;
  font-size: 30px;
  border: none;
  color: #1a202c;
  display: none;
}

.menu__backdrop {
  position: absolute;
  background-color: #242424;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  transition: all 300ms ease;
  opacity: 0;
  transform: translate(100%);
}

.menu--open {
  max-height: 100vh;
  overflow: hidden;
}

.menu--open .menu__backdrop {
  visibility: visible;
  opacity: 1;
  transform: translate(0);
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__list {
  padding: 32px 0;
}

.menu__link {
  color: white;
  font-size: 40px;
}

.btn__menu--close {
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 8px;
  color: white;
}

/* 

Features 

*/

.features__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 96px 0;
  max-width: 1024px;
  margin: 0 auto;
}

.features__title--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.features__title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 16px;
  letter-spacing: 0.1em;
}

.features__description {
  color: #243e63;
  font-size: 48px;
  font-weight: 900;
  padding: 8px;
  letter-spacing: 1px;
}

.features__para {
  font-size: 18px;
  color: #7c81a1;
  margin-top: 16px;
  max-width: 576px;
  line-height: 1.625;
  font-weight: 500;
  text-align: center;
}

.features__boxes--container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
}

.features__box--outer {
  width: calc(100% / 3);
  max-width: 24rem;
  display: flex;
}

.features__box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  text-align-last: left;
  padding: 32px 8px;
  margin: 0 16px;
}

.featured__img {
  border: 2px solid #6415ff;
  border-color: rgb(226, 232, 240);
  padding: 20px;
  border-radius: 99px;
}

.features__box--text {
  margin: 8px 0 0 16px;
  text-align: left;
}

.features__box--subtitle {
  font-size: 24px;
  color: #243e63;
}

.features__box--description {
  font-size: 16px;
  margin-top: 16px;
  color: rgb(124 139 161);
  font-weight: 500;
  line-height: 2;
}

/* 

QUALITY

*/

.quality__container {
  display: flex;
  width: 100%;
  max-width: 1280px;
  padding: 96px 0;
}

.quality__container--left {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 0px 64px 0 0;
  justify-content: center;
}

.quality__title {
  letter-spacing: 0.1em;
  margin-bottom: 16px;
  font-weight: 700;
}

.quality__subtitle {
  color: #243e63;
  font-size: 48px;
  font-weight: 900;
  text-align: left;
  letter-spacing: 1px;
}

.quality__para {
  color: #7c8ba1;
  font-size: 18px;
  font-weight: 500;
  margin-top: 16px;
  text-align: left;
  line-height: 1.625;
}

.quality__btn {
  border: 1px solid #6415ff;
  background-color: #6415ff;
  color: white;
  font-size: 0.875rem;
  font-weight: 700;
  border-radius: 9999px;
  margin-top: 32px;
  padding: 12px 32px;
  text-align: left;
  /* margin-left: 0px; */
  margin-right: auto;
  transition: all 300ms ease;
}

.quality__btn:hover {
  color: rgb(237 242 247);
  background-color: rgb(80 17 204);
}

.quality__container--right {
  width: 50%;
}

.quality__container--right-img {
  max-width: 100%;
  height: auto;
  border: 1px solid #243e631a;
  border-radius: 5px;
}

.quality__img--dots {
  display: inline-block;
  position: absolute;
  fill: #6415ff;
  z-index: -10;
  height: 5rem;
  width: 5rem;
  transform: translate(-50%, 370px);
}

/* 

STEPS SECTION 

*/

.steps__container {
  display: flex;
  width: 100%;
  max-width: 1280px;
  padding: 96px 0;
}

.steps__container--left {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 64px 0px;
}

.steps__img {
  width: 100%;
  display: inline-block;
  margin: auto 0;
}

.steps__img--dots {
  position: absolute;
  display: inline-block;
  fill: #6415ff;
  opacity: 0.15;
  z-index: -10;
  margin: 0 auto;
  height: 10rem;
  width: 10rem;
  max-width: 100%;
  max-height: 100%;
  transform: translateY(115%);
}

.steps__container--right {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 50%;
  padding: 32px 0;
  text-align: left;
}

.steps__container--right-wrapper {
  margin-left: 64px;
}

.steps__title {
  letter-spacing: 0.1em;
  font-size: 16px;
}

.steps__subtitle {
  margin-top: 16px;
  color: #243e63;
  font-size: 48px;
  font-weight: 900;
  line-height: 1.25;
}

.steps__intructions {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  align-content: flex-start;
}

.steps__instructions--wrapper {
  display: flex;
  text-align: left;
  padding-bottom: 16px;
  margin-top: 12px;
}

.steps__count {
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1;
  color: #cbd5e0;
  padding-right: 1px;
  margin: 0 4px 0 0;
}

.steps__instructions--text {
  margin-left: 24px;
}

.steps__instructions--title {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1;
  color: #243e63;
}

.steps__instructions--subtitle {
  margin-top: 0.75rem;
  max-width: 20rem;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 2;
  color: rgb(113 128 150);
}

/* 

Values 

*/

.values__container {
  display: flex;
  width: 100%;
  max-width: 1280px;
  padding: 96px 0;
}

.values__container--left {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 64px 0px;
}

.values__container--left-wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-right: 64px;
}

.values__title {
  font-size: 16px;
  letter-spacing: 0.1em;
}

.values__subtitle {
  font-size: 48px;
  color: #243e63;
  margin-top: 16px;
  text-align: left;
  font-weight: 900;
  line-height: 1.25;
  letter-spacing: 0.025em;
}

.values__para {
  font-size: 18px;
  color: #7c8ba1;
  margin-top: 32px;
}

.values__principles {
  display: flex;
  max-width: 50rem;
}

.values__principle--1 {
  margin: 32px 32px 0 0;
  align-content: baseline;
}

.values__principle--2 {
  margin: 32px 0 0 0;
  align-content: baseline;
}

.values__principles--logo-1 {
  padding: 8px;
  color: #3a7c5b;
  background-color: #9ae69a;
  border-radius: 99px;
  height: 36px;
  width: 36px;
}

.values__principles--logo-2 {
  padding: 8px;
  display: inline-block;
  color: #9b2c2c;
  background-color: rgb(254 178 178);
  border-radius: 9999px;
  height: 36px;
  width: 36px;
}

.values__principles--subtitle {
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 20px;
}
.values__principles--subtitle-title {
  margin-left: 12px;
  color: #243e63;
  font-weight: 700;
}

.values__principles--para {
  color: #718096;
  line-height: 1.625;
  margin-top: 16px;
}

.values__btn {
  background-color: #6415ff;
  color: white;
  border-radius: 9999px;
  margin-top: 48px;
  padding: 12px 32px;
  display: inline-block;
  margin-right: auto;
  transition: all 300ms ease;
}

.values__btn:hover {
  color: rgb(237 242 247);
  background-color: rgb(80 17 204);
}

.values__container--right {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 64px 0px;
}

.values__img {
  width: 100%;
  display: inline-block;
  margin: auto 0;
}

/* 

Pricing Section

*/

.pricing__container {
  display: flex;
  width: 100%;
  max-width: 1280px;
  padding: 96px 0;
}
.pricing__container--wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.pricing__header {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing__title {
  color: #6415ff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 16px;
}

.pricing__subtitle {
  font-size: 48px;
  text-align: center;
  font-weight: 900;
  letter-spacing: 0.025em;
  color: #243e63;
  height: 72px;
}

.pricing__para {
  color: #7c81a1;
  font-size: 18px;
  margin-top: 16px;
  text-align: center;
  max-width: 36rem;
}

.pricing__selection--wrapper {
  width: 100%;
  display: flex;
  text-align: center;
  padding: 96px 0;
}

.pricing__personal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 24px;
  width: calc(100% / 3);
}

.pricing__personal--top,
.pricing__personal--middle,
.pricing__personal--bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 0;
  width: 100%;
  border: 1px solid rgb(226, 232, 240);
  display: flex;
  line-height: 1.625;
}
.pricing__personal--highlight {
  width: 100%;
  top: 0;
  border-radius: 8px 8px 0 0;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
  height: 8px;
}

.personal__top--title {
  color: #1a202c;
  font-size: 20px;
  font-weight: 700;
}

.personal__top--cost {
  color: #1a202c;
  font-size: 48px;
  font-weight: 700;
}

.personal__top--length {
  color: #a0aec0;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.1em;
}

#pricing__middle--title {
  color: #1a202c;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.025em;
}

#pricing__benefits {
  color: #718096;
  font-size: 16px;
  margin-top: 20px;
  font-weight: 500;
}

.pricing__personal--bottom {
  padding: 32px 80px;
  border-radius: 0 0 8px 8px;
}

.pricing__btn {
  width: 100%;
  padding: 16px 32px;
}

.pricing__personal--btn {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
  border-style: none;
  border-radius: 999px;
}

.pricing__personal--btn,
.pricing__enterprise--btn {
  color: white;
  font-size: 14px;
  font-weight: 700;
}

.pricing__personal--btn:hover,
.pricing__business--btn:hover,
.pricing__enterprise--btn:hover {
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2);
  transform: translate3D(1px, -1px, 0);
}

/* Business Pricing */

.pricing__business {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 24px;
  width: calc(100% / 3);
  color: white;
  overflow: none;
}

.color__white {
  color: white;
}

.pricing__business--top,
.pricing__business--middle,
.pricing__business--bottom {
  border: 1px solid #667eea;
  background: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
}

.pricing__business--highlight {
  width: 100%;
  top: 0;
  border-radius: 8px 8px 0 0;
  background: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
  height: 8px;
}

.pricing__business--top {
  border-top: 1px transparent;
}

#pricing__benefits--business {
  font-size: 16px;
  margin-top: 20px;
  font-weight: 500;
}

#pricing__middle--business {
  color: white;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.025em;
}

.pricing__business--btn {
  background-color: white;
  color: rgb(70 15 179);
  border-style: none;
  border-radius: 999px;
  font-weight: 700;
  font-size: 14px;
}

.pricing__business--btn:hover {
  color: rgb(70 15 179);
}

/* Enterprise pricing */
.pricing__enterprise--highlight {
  width: 100%;
  top: 0;
  border-radius: 8px 8px 0 0;
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
  height: 8px;
}

.pricing__enterprise--btn {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
  border-style: none;
  border-radius: 999px;
}

/* 

TESTIMONIALS

*/

.testimonial__container {
  display: flex;
  width: 100%;
  max-width: 1280px;
  padding: 96px 0;
}

.testimonial__container--left {
  display: flex;
  width: 50%;
}
.testimonial__img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.testimonial__container--right {
  display: flex;
  width: 50%;
  flex-direction: column;
  text-align: left;
  padding-left: 64px;
}

.testimonial__title {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 700;
}

.testimonial__subtitle {
  font-size: 48px;
  color: #243e63;
  margin-top: 16px;
  font-weight: 900;
  line-height: 1.25;
}

.testimonial__para {
  color: #7c81a1;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.625;
  margin-top: 24px;
}

.testimonial__customer--container {
  margin-top: 40px;
}

.testimonial__rating {
  display: flex;
  height: 24px;
  width: 100%;
}

.testimonial__star {
  height: 20px;
  width: 20px;
  margin-right: 0.25rem;
  fill: #f6ad55;
}

.testimonial__subject {
  font-size: 20px;
  margin-top: 1rem;
  font-size: 1.25rem;
  font-weight: 700;
  color: #243e63;
}

.testimonial__review {
  margin-top: 16px;
  margin-bottom: 40px;
  color: #4a5568;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
}

.testimonial__customer--left {
  display: flex;
}

.testimonial__customer--img {
  height: 5rem;
  width: 5rem;
  border-radius: 999px;
  display: inline-block;
}

.customer__name--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 24px;
}

.testimonial__customer--name {
  font-size: 20px;
  color: #243e63;
  font-weight: 700;
}

.testimonial__customer--company {
  font-size: 16px;
  color: #7c81a1;
  font-weight: 500;
}

.divider {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  border-right: 1px solid #bebebe55;
  max-height: 24px;
}

.testimonial__customers--wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.arrow__wrapper--right {
  display: flex;
}

.arrow__right,
.arrow__left {
  width: 48px;
  height: 48px;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  border-radius: 999px;
  font-weight: 900;
  padding: 1rem;
  border: none;
  background-color: rgb(237 242 247);
}

.arrow__right:hover,
.arrow__left:hover {
  background-color: rgb(226 232 240);
}

.right__arrow,
.left__arrow {
  width: 16px;
  height: 16px;
  color: #6415ff;
}

.testimonial__slider .adam__review,
.testimonial__slider .charlotte__review {
  display: none;
}

.testimonial__slider .charlotte__review {
  display: block;
}

/* 

FAQs

*/

.faq__container {
  display: flex;
  width: 100%;
  max-width: 1280px;
  padding: 96px 0;
  justify-content: center;
  text-align: center;
}

.faq__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.faq__questions {
  cursor: not-allowed;
  display: flex;
  width: 100%;
  max-width: 56rem;
  align-items: center;
  justify-content: space-between;
  color: black;
  background-color: rgb(237 242 247);
  border-radius: 10px;
  margin-top: 20px;
  padding: 16px 40px;
}

.faq__questions:hover {
  background-color: rgb(226 232 240);
}

.faq__title {
  font-size: 16px;
  letter-spacing: 0.1em;
  font-weight: 700;
  margin-bottom: 16px;
}
.faq__subtitle {
  font-size: 48px;
  font-weight: 900;
}

.faq__para {
  margin-top: 16px;
  font-size: 18px;
  color: #7c8ba1;
  text-align: center;
  width: 45%;
}

#top__faq {
  margin-top: 68px;
}

#faq__text {
  font-size: 20px;
  font-weight: 600;
}

/*

Message Section

*/

.message__container {
  display: flex;
  width: 100%;
  max-width: 1280px;
  padding: 96px 0;
}

.message__box {
  display: flex;
  width: 100%;
  position: relative;
  background-color: #6415ff;
  border-radius: 0.5rem;
  overflow: hidden;
  padding: 96px 0;
}

.message__box--filler {
  display: flex;
  margin: 0 128px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
}

.message__quote {
  color: white;
  font-size: 30px;
  font-weight: 700;
  width: 50%;
}

.message__buttons {
  display: flex;
}

.message__btn--1 {
  margin-right: 32px;
  color: white;
  background-color: #f56565;
  font-size: 16px;
  padding: 20px 40px;
  border-radius: 999px;
  font-weight: 700;
  letter-spacing: 0.025em;
  box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.2);
}

.message__btn--1:hover {
  background-color: rgb(229 62 62);
}

.message__btn--2 {
  margin-right: 32px;
  color: white;
  border: 1px solid white;
  font-size: 16px;
  padding: 20px 40px;
  border-radius: 999px;
  font-weight: 700;
  letter-spacing: 0.025em;
}

.message__btn--2:hover {
  background-color: white;
  color: #6415ff;
}

/*

Footer

*/

.footer__container {
  position: relative;
  margin-left: -2rem;
  margin-right: -2rem;
  margin-bottom: -2rem;
  background-color: rgb(100 21 255);
  padding: 80px 32px;
  color: rgb(247 250 252);
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer__link--container {
  display: flex;
  width: 100%;
  max-width: 1280px;
  padding: 96px 32px 64px 32px;
  margin: 0 -32px;
  justify-content: space-between;
  border-bottom: 2px solid #742cff;
}

.footer__main--links {
  display: flex;
  flex-direction: column;
  color: white;
  margin-top: -48px;
}

.footer__link--title {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.footer__link {
  color: white;
  text-decoration: transparent;
  transition: all 300ms ease;
  font-size: 14px;
  padding-bottom: 0.25rem;
  margin-top: 0.75rem;
  font-weight: 500;
}

.footer__link:hover {
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-thickness: 2px;
}

.footer__logo--container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4rem;
}

.footer__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__img {
  width: 32px;
  height: 32px;
  margin-right: 12px;
}

.footer__logo--name {
  color: white;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 0.05em;
}

.footer__copyright {
  color: #cbd5e0;
  font-size: 16px;
  font-weight: 500;
}

.footer__socials {
  display: flex;
  cursor: pointer;
}

.footer__social__link {
}

.footer__social {
  height: 32px;
  width: 32px;
  padding: 8px;
  margin-right: 16px;
  fill: black;
  background-color: white;
  border-radius: 99px;
}

/* Media Changes */

/* Larger Screens */
@media (min-width: 1280px) {
  .img {
    max-width: 48rem;
  }
}

@media (max-width: 1024px) {
  .landing__container--right {
    width: 50%;
  }

  .landing__container--left {
    width: 60%;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    text-align: center;
  }

  .landing__email {
    padding: 0 64px;
  }

  .btn__menu {
    display: block;
  }

  .nav__links {
    display: none;
  }

  .landing__container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .landing__title {
    font-size: 30px;
    margin: 0 auto;
  }

  .landing__para {
    font-size: 16px;
  }

  .landing__customers--container {
    margin-top: 40px;
  }

  .landing__customers--img {
    padding: 0 0 16px 0;
  }

  .features__box--outer {
    width: calc(100% / 2);
  }

  .quality__container {
    align-items: center;
  }

  .quality__img--dots {
    transform: translate(-48%, 325%);
  }

  .steps__img--dots {
    transform: translateY(80%);
  }

  .pricing__para {
    font-size: 16px;
  }

  .pricing__selection--wrapper {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .pricing__personal,
  .pricing__business {
    margin-top: 64px;
    width: 100%;
    max-width: 24rem;
  }

  .values__subtitle {
    font-size: 36px;
  }

  .values__para {
    font-size: 16px;
  }

  .values__principles {
    flex-direction: column;
    max-width: 20rem;
  }

  .testimonial__container--left {
    width: 40%;
  }
  .testimonial__container--right {
    width: 60%;
  }

  .message__box--filler {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .message__quote {
    width: auto;
  }

  .message__buttons {
    margin-top: 24px;
  }

  .message__box--filler {
    margin: 0 auto;
  }

  .faq__para {
    margin: 0 auto;
    margin-top: 24px;
    width: 70%;
    font-size: 16px;
  }
}

/* Other medium/large devices */

@media (max-width: 780px) {
  .features__description {
    text-align: center;
  }

  .features__description {
    width: 100%;
    margin: 0 auto;
  }

  .features__box--outer {
    width: calc(100%);
  }

  .features__para {
    font-size: 14px;
  }

  .quality__container {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    justify-content: center;
  }

  .quality__container--right {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 64px;
  }

  .quality__img--dots {
    right: 60px;
    transform: translateY(361%);
  }

  .quality__container--right-img {
    width: 80%;
    height: auto;
  }

  .quality__subtitle {
    width: 100%;
    text-align: center;
    font-size: 36px;
  }

  .quality__para {
    width: 100%;
    font-size: 14px;
    text-align: center;
    margin-bottom: 24px;
  }

  .quality__container--left {
    padding: 0;
    width: 100%;
    max-width: 28rem;
    display: flex;
    margin: 0 auto;
    text-align: center;
  }

  .quality__btn {
    display: flex;
    margin: 0 auto;
  }

  .steps__container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;

  }

  .steps__container--left {
    width: 100%;
  }

  .steps__container--right {
    width: 100%;
    text-align: center;
  }

  .steps__container--right-wrapper {
    width: 100%;
    margin: 0 auto;
  }

  .steps__subtitle {
    width: 100%;
    font-size: 36px;
  }

  .steps__img {
    max-width: 28rem;
  }

  .steps__img--dots {
    height: 5rem;
    width: 5rem;
    transform: translateY(130px);
  }

  .steps__instructions--wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .steps__count{
    margin: 12px auto;
  }

  .steps__instructions--text{
    margin: 0 auto;
  }

  .values__container{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .values__container--left{
    width: 100%;
  }

  .values__container--left-wrapper{
    margin: 0 auto;
    text-align: center;
  }
  .values__subtitle,
  .values__para,
  .values__principles,
  .values__principles--subtitle,
  .values__principles--para,
  .values__btn{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 28rem;
  }

  .values__para{
    max-width: 28rem;
    margin-top: 32px;
  }

  .values__principles--para{
    margin-top: 16px;
  }

  .values__btn{
    margin-top: 48px;
  }
}

/* Small Screens / Tablets / Large Phones*/
@media (max-width: 650px) {
  .message__buttons {
    max-width: 32rem;
  }
  .message__btn--1,
  .message__btn--2 {
    width: auto;
  }

  .faq__para {
    margin: 0 auto;
    width: 100%;
  }

  .message__box--filler {
    margin: 0 auto;
  }
}
